* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFF1E6;
    
}



.carousel {
    position: relative;
    height: 600px;
    width: 80%;
    margin: 0 auto;
}

.carousel_images {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.carousel_track-container {
    background: lightgreen;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.carousel_track {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 250ms ease-in;
}
/* Stacking of images*/
.carousel_slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carousel_button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    cursor: pointer;
}

.carousel_button--left {
    left: -40px;
}
.carousel_button--right {
    right: -40px;
}
.carousel_button img {
    width: 12px;

}

.carousel_nav {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}
.carousel_indicator {
    border: 0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background:rgba(0, 0, 0, .3);
    margin: 0 12px;
    cursor: pointer;
}

.carousel_indicator.current-slide {
    background: rgba(0,0,0,.75);
}
    
.is-hidden {
    display: none; 
}


.heading {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 45%;
   z-index: 10;
   text-align: center;
   
   
}



.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #A5A58D;
    overflow: hidden;
}

.nav 
a {
    color: rgb(63, 62, 62);
    /*text-align: center;*/
    padding: 14px 16px; 
    text-decoration: none;
    font-size: 15px;
}


#navbar-left {
    display: flex;
    flex-direction: row;
}

#navbar-right {
    display: flex;
    flex-direction: row;
}
/* Changing the color of links on hover*/
.nav a:hover {
    background-color: rgb(66, 65, 65);
    color: #A5A58D;
}

/* Instagram live feed */

.tagembed-container {
     margin-top: 150px;
    
}

.my-story {
    background-color: rgb(198, 236, 225);
    height: 500px;
    width: 100%;
    padding: 120px 0;
    border:black;
    margin-top: 10% 
   
    
}
.my-story  p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}
.my-story h2{
    display: flex;
    justify-content: center;
    align-items: center;
   
}